%svg-common {
	background: url("svg/sprite.css-b7fb136d.svg") no-repeat;
}

.svg-account {
	@extend %svg-common;
	background-position: 50.90909090909091% 78.94736842105263%;
}

.svg-account-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow_bold {
	@extend %svg-common;
	background-position: 65.45454545454545% 78.94736842105263%;
}

.svg-arrow_bold-dims {
	width: 24px;
	height: 24px;
}

.svg-assembly {
	@extend %svg-common;
	background-position: 17.391304347826086% 15.503875968992247%;
}

.svg-assembly-dims {
	width: 28px;
	height: 28px;
}

.svg-bedroom {
	@extend %svg-common;
	background-position: 34.78260869565217% 15.503875968992247%;
}

.svg-bedroom-dims {
	width: 28px;
	height: 28px;
}

.svg-best-price {
	@extend %svg-common;
	background-position: 85.45454545454545% 0;
}

.svg-best-price-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 0 37.98449612403101%;
}

.svg-calendar-dims {
	width: 28px;
	height: 28px;
}

.svg-cart_empty {
	@extend %svg-common;
	background-position: 85.45454545454545% 18.045112781954888%;
}

.svg-cart_empty-dims {
	width: 24px;
	height: 24px;
}

.svg-cart_filled {
	@extend %svg-common;
	background-position: 85.45454545454545% 36.090225563909776%;
}

.svg-cart_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-cart_full {
	@extend %svg-common;
	background-position: 0 15.625%;
}

.svg-cart_full-dims {
	width: 28px;
	height: 29px;
}

.svg-child {
	@extend %svg-common;
	background-position: 17.391304347826086% 37.98449612403101%;
}

.svg-child-dims {
	width: 28px;
	height: 28px;
}

.svg-close {
	@extend %svg-common;
	background-position: 85.45454545454545% 54.13533834586466%;
}

.svg-close-dims {
	width: 24px;
	height: 24px;
}

.svg-close-big {
	@extend %svg-common;
	background-position: 85.45454545454545% 72.18045112781955%;
}

.svg-close-big-dims {
	width: 24px;
	height: 24px;
}

.svg-closet {
	@extend %svg-common;
	background-position: 34.78260869565217% 37.98449612403101%;
}

.svg-closet-dims {
	width: 28px;
	height: 28px;
}

.svg-delivery {
	@extend %svg-common;
	background-position: 52.79503105590062% 0;
}

.svg-delivery-dims {
	width: 28px;
	height: 28px;
}

.svg-filter {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-filter-dims {
	width: 24px;
	height: 24px;
}

.svg-gift {
	@extend %svg-common;
	background-position: 14.545454545454545% 100%;
}

.svg-gift-dims {
	width: 24px;
	height: 24px;
}

.svg-guarantees {
	@extend %svg-common;
	background-position: 52.79503105590062% 21.705426356589147%;
}

.svg-guarantees-dims {
	width: 28px;
	height: 28px;
}

.svg-half_star {
	@extend %svg-common;
	background-position: 99.45054945054945% 66.66666666666667%;
}

.svg-half_star-dims {
	width: 7px;
	height: 13px;
}

.svg-hall {
	@extend %svg-common;
	background-position: 0 59.689922480620154%;
}

.svg-hall-dims {
	width: 28px;
	height: 28px;
}

.svg-kitchen {
	@extend %svg-common;
	background-position: 17.391304347826086% 59.689922480620154%;
}

.svg-kitchen-dims {
	width: 28px;
	height: 28px;
}

.svg-logo_name {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-logo_name-dims {
	width: 85px;
	height: 20px;
}

.svg-logo_symbol {
	@extend %svg-common;
	background-position: 34.78260869565217% 59.689922480620154%;
}

.svg-logo_symbol-dims {
	width: 28px;
	height: 28px;
}

.svg-menu {
	@extend %svg-common;
	background-position: 29.09090909090909% 100%;
}

.svg-menu-dims {
	width: 24px;
	height: 24px;
}

.svg-more {
	@extend %svg-common;
	background-position: 52.17391304347826% 59.689922480620154%;
}

.svg-more-dims {
	width: 28px;
	height: 28px;
}

.svg-new {
	@extend %svg-common;
	background-position: 43.63636363636363% 100%;
}

.svg-new-dims {
	width: 24px;
	height: 24px;
}

.svg-office {
	@extend %svg-common;
	background-position: 70.1863354037267% 0;
}

.svg-office-dims {
	width: 28px;
	height: 28px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 58.18181818181818% 100%;
}

.svg-phone-dims {
	width: 24px;
	height: 24px;
}

.svg-pin {
	@extend %svg-common;
	background-position: 72.72727272727273% 100%;
}

.svg-pin-dims {
	width: 24px;
	height: 24px;
}

.svg-premium {
	@extend %svg-common;
	background-position: 70.1863354037267% 21.705426356589147%;
}

.svg-premium-dims {
	width: 28px;
	height: 28px;
}

.svg-promo {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-promo-dims {
	width: 24px;
	height: 24px;
}

.svg-room {
	@extend %svg-common;
	background-position: 70.1863354037267% 43.41085271317829%;
}

.svg-room-dims {
	width: 28px;
	height: 28px;
}

.svg-rotang {
	@extend %svg-common;
	background-position: 0 81.3953488372093%;
}

.svg-rotang-dims {
	width: 28px;
	height: 28px;
}

.svg-sale {
	@extend %svg-common;
	background-position: 100% 18.045112781954888%;
}

.svg-sale-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	@extend %svg-common;
	background-position: 100% 36.090225563909776%;
}

.svg-search-dims {
	width: 24px;
	height: 24px;
}

.svg-small_car {
	@extend %svg-common;
	background-position: 95.3757225433526% 68.08510638297872%;
}

.svg-small_car-dims {
	width: 16px;
	height: 16px;
}

.svg-sofa {
	@extend %svg-common;
	background-position: 17.391304347826086% 81.3953488372093%;
}

.svg-sofa-dims {
	width: 28px;
	height: 28px;
}

.svg-sort {
	@extend %svg-common;
	background-position: 100% 54.13533834586466%;
}

.svg-sort-dims {
	width: 24px;
	height: 24px;
}

.svg-star {
	@extend %svg-common;
	background-position: 94.28571428571429% 77.77777777777777%;
}

.svg-star-dims {
	width: 14px;
	height: 13px;
}

.svg-table {
	@extend %svg-common;
	background-position: 34.78260869565217% 81.3953488372093%;
}

.svg-table-dims {
	width: 28px;
	height: 28px;
}

